:root {
  --main-background-color: rgba(0, 194, 203, 1);
  --darkest-accent-color: rgba(49, 67, 94, 1);
  --darker-accent-color: rgba(53, 73, 94, 1);
  --dark-accent-color: rgba(52, 73, 102, 1);
  --light-accent-color: rgba(76, 106, 148, 1);
  --light-accent-transparent: rgba(76, 106, 148, 0);
  --lighter-accent-color: rgba(107, 137, 179, 1);
  --main-text-color: rgba(250, 249, 246, 1);
  --main-text-transparent: rgba(250, 249, 246, 0);
  --secondary-text-color: rgba(13, 24, 33, 1);
  --main-text-light-on-dark-color: rgba(250, 249, 246, 1);
  --error-text-color: rgba(252, 63, 56, 1);
  --box-border-color: rgba(49, 67, 94, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --inset-box-shadow-color: rgb(3, 1, 1);
  --inset-box-shadow-raise: rgba(255, 255, 255, 0.5);
  --textbox-background-color: rgba(250, 249, 246, 1);
  --input-border-color: rgba(52, 73, 102, 1);
  --input-placeholder-color: rgba(0, 0, 0, 0.42);
  --checkbox-border-color: rgba(250, 249, 246, 1);
  --sidenav-disabled-text-color: rgba(0, 194, 203, 1);
  --sidenav-hover-color: rgba(76, 106, 148, 1);
  --widget-resize-handle-color: rgba(0, 0, 0, 0.3);
  --clock-background-color: rgba(53, 73, 94, 1);
  --clock-face-color: rgba(250, 249, 246, 1);
  --calendar-background-color: rgba(250, 249, 246, 1);
  --calendar-disabled-area-color: rgba(250, 249, 246, 0.5);
  --calendar-day-color: rgba(13, 24, 33, 1);
  --calendar-weekend-day-color: rgba(183, 0, 0, 1);
  --calendar-disabled-day-color: rgba(173, 184, 193, 1);
  --file-management-background-color: rgba(197, 198, 149, 1);
  --sticky-note-background-color: rgba(153, 250, 255, 1);
  --sticky-note-placeholder-text-color: rgba(134, 158, 193, 1);
  --sticky-note-text-color: rgba(49, 67, 94, 1);
  --schedule-background-color: rgba(238, 225, 179, 1);
  --schedule-darker-background-color: rgba(198, 174, 128, 1);
  --kanban-board-background-color: rgba(213, 202, 214, 1);
  --kanban-board-darker-background-color: rgba(192, 174, 194, 1);
  --kanban-column-heading-color: rgba(49, 67, 94, 1);
  --meditation-background-color: rgba(250, 249, 246, 1);
  --inspiring-quote-background-color: rgba(255, 207, 173, 1);
  --balance-tip-background-color: rgba(227, 200, 181, 1);
}

.default-mode-wf {
  --main-background-color: rgba(0, 194, 203, 1);
  --darkest-accent-color: rgba(49, 67, 94, 1);
  --darker-accent-color: rgba(53, 73, 94, 1);
  --dark-accent-color: rgba(52, 73, 102, 1);
  --light-accent-color: rgba(76, 106, 148, 1);
  --light-accent-transparent: rgba(76, 106, 148, 0);
  --lighter-accent-color: rgba(107, 137, 179, 1);
  --main-text-color: rgba(250, 249, 246, 1);
  --main-text-transparent: rgba(250, 249, 246, 0);
  --secondary-text-color: rgba(13, 24, 33, 1);
  --main-text-light-on-dark-color: rgba(250, 249, 246, 1);
  --error-text-color: rgba(252, 63, 56, 1);
  --box-border-color: rgba(49, 67, 94, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --inset-box-shadow-color: rgba(0, 0, 0, 1);
  --inset-box-shadow-raise: rgba(255, 255, 255, 0.5);
  --textbox-background-color: rgba(250, 249, 246, 1);
  --input-border-color: rgba(52, 73, 102, 1);
  --input-placeholder-color: rgba(0, 0, 0, 0.42);
  --checkbox-border-color: rgba(250, 249, 246, 1);
  --sidenav-disabled-text-color: rgba(0, 194, 203, 1);
  --sidenav-hover-color: rgba(76, 106, 148, 1);
  --widget-resize-handle-color: rgba(0, 0, 0, 0.35);
  --clock-background-color: rgba(53, 73, 94, 1);
  --clock-face-color: rgba(250, 249, 246, 1);
  --calendar-background-color: rgba(250, 249, 246, 1);
  --calendar-disabled-area-color: rgba(250, 249, 246, 0.5);
  --calendar-day-color: rgba(13, 24, 33, 1);
  --calendar-weekend-day-color: rgba(143, 0, 0, 1);
  --calendar-disabled-day-color: rgba(173, 184, 193, 1);
  --file-management-background-color: rgba(197, 198, 149, 1);
  --sticky-note-background-color: rgba(153, 250, 255, 1);
  --sticky-note-placeholder-text-color: rgba(134, 158, 193, 1);
  --sticky-note-text-color: rgba(49, 67, 94, 1);
  --schedule-background-color: rgba(238, 225, 179, 1);
  --schedule-darker-background-color: rgba(198, 174, 128, 1);
  --kanban-board-background-color: rgba(213, 202, 214, 1);
  --kanban-board-darker-background-color: rgba(192, 174, 194, 1);
  --kanban-column-heading-color: rgba(49, 67, 94, 1);
  --meditation-background-color: rgba(250, 249, 246, 1);
  --inspiring-quote-background-color: rgba(255, 207, 173, 1);
  --balance-tip-background-color: rgba(227, 200, 181, 1);
}

.blue-mode-wf {
  --main-background-color: rgba(53, 73, 94, 1);
  --darkest-accent-color: rgba(49, 67, 94, 1);
  --darker-accent-color: rgba(53, 73, 94, 1);
  --dark-accent-color: rgba(0, 194, 203, 1);
  --light-accent-color: rgba(76, 106, 148, 1);
  --light-accent-transparent: rgba(76, 106, 148, 0);
  --lighter-accent-color: rgba(107, 137, 179, 1);
  --main-text-color: rgba(250, 249, 246, 1);
  --main-text-transparent: rgba(250, 249, 246, 0);
  --secondary-text-color: rgba(13, 24, 33, 1);
  --main-text-light-on-dark-color: rgba(49, 67, 94, 1);
  --error-text-color: rgba(252, 63, 56, 1);
  --box-border-color: rgba(49, 67, 94, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --inset-box-shadow-color: rgba(0, 0, 0, 1);
  --inset-box-shadow-raise: rgba(255, 255, 255, 1);
  --textbox-background-color: rgba(250, 249, 246, 1);
  --input-border-color: rgba(45, 45, 48, 1);
  --input-placeholder-color: rgba(0, 0, 0, 0.42);
  --checkbox-border-color: rgba(250, 249, 246, 1);
  --sidenav-disabled-text-color: rgba(250, 249, 246, 1);
  --sidenav-hover-color: rgba(107, 137, 179, 1);
  --widget-resize-handle-color: rgba(0, 0, 0, 0.35);
  --clock-background-color: rgba(0, 194, 203, 1);
  --clock-face-color: rgba(250, 249, 246, 1);
  --calendar-background-color: rgba(250, 249, 246, 1);
  --calendar-disabled-area-color: rgba(250, 249, 246, 0.5);
  --calendar-day-color: rgba(13, 24, 33, 1);
  --calendar-weekend-day-color: rgba(143, 0, 0, 1);
  --calendar-disabled-day-color: rgba(173, 184, 193, 1);
  --file-management-background-color: rgba(197, 198, 149, 1);
  --sticky-note-background-color: rgba(153, 250, 255, 1);
  --sticky-note-placeholder-text-color: rgba(134, 158, 193, 1);
  --sticky-note-text-color: rgba(49, 67, 94, 1);
  --schedule-background-color: rgba(238, 225, 179, 1);
  --schedule-darker-background-color: rgba(198, 174, 128, 1);
  --kanban-board-background-color: rgba(213, 202, 214, 1);
  --kanban-board-darker-background-color: rgba(192, 174, 194, 1);
  --kanban-column-heading-color: rgba(49, 67, 94, 1);
  --meditation-background-color: rgba(250, 249, 246, 1);
  --inspiring-quote-background-color: rgba(255, 207, 173, 1);
  --balance-tip-background-color: rgba(227, 200, 181, 1);
}

.white-mode-wf {
  --main-background-color: rgba(250, 249, 246, 1);
  --darkest-accent-color: rgba(49, 67, 94, 1);
  --darker-accent-color: rgba(53, 73, 94, 1);
  --dark-accent-color: rgba(0, 194, 203, 1);
  --light-accent-color: rgba(76, 106, 148, 1);
  --light-accent-transparent: rgba(76, 106, 148, 0);
  --lighter-accent-color: rgba(107, 137, 179, 1);
  --main-text-color: rgba(49, 67, 94, 1);
  --main-text-transparent: rgba(250, 249, 246, 0);
  --secondary-text-color: rgba(13, 24, 33, 1);
  --main-text-light-on-dark-color: rgba(49, 67, 94, 1);
  --error-text-color: rgba(252, 63, 56, 1);
  --box-border-color: rgba(0, 184, 193, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --inset-box-shadow-color: rgba(0, 0, 0, 1);
  --inset-box-shadow-raise: rgba(255, 255, 255, 1);
  --textbox-background-color: rgba(241, 238, 229, 1);
  --input-border-color: rgba(45, 45, 48, 1);
  --input-placeholder-color: rgba(0, 0, 0, 0.42);
  --checkbox-border-color: rgba(49, 67, 94, 1);
  --sidenav-disabled-text-color: rgba(250, 249, 246, 1);
  --sidenav-hover-color: rgba(250, 249, 246, 1);
  --widget-resize-handle-color: rgba(0, 0, 0, 0.35);
  --clock-background-color: rgba(0, 194, 203, 1);
  --clock-face-color: rgba(250, 249, 246, 1);
  --calendar-background-color: rgba(250, 249, 246, 1);
  --calendar-disabled-area-color: rgba(250, 249, 246, 0.5);
  --calendar-day-color: rgba(13, 24, 33, 1);
  --calendar-weekend-day-color: rgba(143, 0, 0, 1);
  --calendar-disabled-day-color: rgba(173, 184, 193, 1);
  --file-management-background-color: rgba(197, 198, 149, 1);
  --sticky-note-background-color: rgba(153, 250, 255, 1);
  --sticky-note-placeholder-text-color: rgba(134, 158, 193, 1);
  --sticky-note-text-color: rgba(49, 67, 94, 1);
  --schedule-background-color: rgba(238, 225, 179, 1);
  --schedule-darker-background-color: rgba(198, 174, 128, 1);
  --kanban-board-background-color: rgba(164, 140, 166, 1);
  --kanban-board-darker-background-color: rgba(136, 105, 140, 1);
  --kanban-column-heading-color: rgba(250, 249, 246, 1);
  --meditation-background-color: rgba(250, 249, 246, 1);
  --inspiring-quote-background-color: rgba(255, 207, 173, 1);
  --balance-tip-background-color: rgba(227, 200, 181, 1);
}

.dark-mode-wf {
  --main-background-color: rgba(25, 25, 25, 1);
  --darkest-accent-color: rgba(250, 249, 246, 1);
  --darker-accent-color: rgba(62, 62, 66, 1);
  --dark-accent-color: rgba(45, 45, 48, 1);
  --light-accent-color: rgba(102, 102, 106, 1);
  --light-accent-transparent: rgba(76, 106, 148, 0);
  --lighter-accent-color: rgba(132, 132, 136, 1);
  --main-text-color: rgba(250, 249, 246, 1);
  --main-text-transparent: rgba(250, 249, 246, 0);
  --secondary-text-color: rgba(13, 24, 33, 1);
  --main-text-light-on-dark-color: rgba(250, 249, 246, 1);
  --error-text-color: rgba(252, 63, 56, 1);
  --box-border-color: rgba(15, 15, 15, 1);
  --box-shadow-color: rgba(105, 105, 105, 0.1);
  --inset-box-shadow-color: rgba(0, 0, 0, 1);
  --inset-box-shadow-raise: rgba(255, 255, 255, 0.5);
  --textbox-background-color: rgba(82, 82, 86, 1);
  --input-border-color: rgba(45, 45, 48, 1);
  --checkbox-border-color: rgba(250, 249, 246, 1);
  --sidenav-disabled-text-color: rgba(172, 172, 176, 1);
  --sidenav-hover-color: rgba(172, 172, 176, 1);
  --widget-resize-handle-color: rgba(0, 0, 0, 0.35);
  --clock-background-color: rgba(53, 73, 94, 1);
  --clock-face-color: rgba(250, 249, 246, 1);
  --calendar-background-color: rgba(92, 92, 96, 1);
  --calendar-disabled-area-color: rgba(62, 62, 66, 0.5);
  --calendar-day-color: rgba(250, 249, 246, 1);
  --calendar-weekend-day-color: rgb(228, 43, 43);
  --calendar-disabled-day-color: rgba(173, 184, 193, 1);
  --file-management-background-color: rgba(79, 80, 43, 1);
  --sticky-note-background-color: rgba(172, 172, 176, 1);
  --sticky-note-placeholder-text-color: rgba(102, 102, 106, 1);
  --sticky-note-text-color: rgba(13, 24, 33, 1);
  --schedule-background-color: rgba(133, 111, 30, 1);
  --schedule-darker-background-color: rgba(83, 69, 19, 1);
  --kanban-board-background-color: rgba(136, 105, 140, 1);
  --kanban-board-darker-background-color: rgba(90, 70, 93, 1);
  --kanban-column-heading-color: rgba(250, 249, 246, 1);
  --meditation-background-color: rgba(71, 71, 71, 1);
  --inspiring-quote-background-color: rgba(102, 43, 0, 1);
  --balance-tip-background-color: rgba(99, 99, 105, 1);
}

/* General rules */
html {
  font-family: "Lexend", sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.main-wf {
  min-height: 87vh;
}

.box-container-wf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wf {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: var(--dark-accent-color);
  color: var(--main-text-color);
  text-align: center;
  border: 1px solid var(--box-border-color);
  border-radius: 20px;
  padding: 40px 40px 60px 40px;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

.button-wf {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: inset 0.9px 0.9px 10px -4px var(--inset-box-shadow-raise),
    inset -2px -2px 7px var(--inset-box-shadow-color);
}

.button-wf:hover {
  background-color: var(--lighter-accent-color);
  box-shadow: inset 0.5px 0.5px 10px -4px var(--inset-box-shadow-raise),
    inset -2px -2px 7px var(--inset-box-shadow-color);
}

.button-wf:focus {
  background-color: var(--light-accent-color);
  box-shadow: inset 0.5px 0.5px 10px -4px var(--inset-box-shadow-raise),
    inset -2px -2px 7px var(--inset-box-shadow-color);
}

.dark-button-wf {
  background-color: var(--darkest-accent-color);
}

.dark-button-wf:focus {
  background-color: var(--darkest-accent-color);
}

.input-wf {
  color: var(--darkest-accent-color);
  font-family: "Lexend", sans-serif;
  background-color: var(--textbox-background-color) !important;
  border: 1px solid var(--input-border-color) !important;
  border-radius: 10px !important;
  padding: 5px 10px !important;
  height: 1.5em !important;
  margin: 10px 0px !important;
  width: 70% !important;
  box-shadow: inset 1px 1px 3px var(--inset-box-shadow-color),
    inset -1px -1px 3px var(--inset-box-shadow-raise) !important;
}

.hidden-wf {
  display: none;
}

.spinner-container-wf {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-layer {
  border-color: var(--main-text-color);
}

.error-message-wf {
  color: var(--error-text-color);
  font-weight: bold;
  font-size: 18px;
}

/* Main page side scroll bar rules */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--darker-accent-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-accent-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--lighter-accent-color);
}

/* Navbar rules */
.navbar-wf {
  background-color: var(--dark-accent-color);
  color: var(--main-text-light-on-dark-color);
  box-shadow: 0px 5px 5px -1px var(--box-shadow-color);
}

.sidenav-trigger {
  display: block !important;
  position: absolute;
}

.navbar-logo-wf {
  height: 2.5em;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 12px;
  max-width: 2.5em;
}

.brandname-wf {
  font-size: 30px;
  color: var(--main-text-light-on-dark-color);
  vertical-align: top;
}

.navbar-right-container-wf {
  margin-right: 15px;
}

.loggedin-text-wf {
  margin-right: 20px;
  font-size: 18px;
}

.login-button-wf {
  margin-bottom: 8px;
}

/* Sidenav rules */
.sidenav-wf {
  background-color: var(--dark-accent-color);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 80px;
  box-shadow: 10px 0px 10px var(--box-shadow-color);
}

.sidenav li:hover {
  background-color: var(--sidenav-hover-color);
}

.sidenav li.sidenav-username-wf:hover,
.sidenav li.menu-space-filler-wf:hover {
  background-color: var(--dark-accent-color);
}

.sidenav-wf li a {
  color: var(--main-text-light-on-dark-color);
}

.sidenav-item-wf.disabled {
  pointer-events: none;
  color: var(--sidenav-disabled-text-color);
  opacity: 0.5;
}

.logo-wf {
  height: 2.5em;
  margin-left: 27px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 2.5em;
}

.sidenav-username-wf {
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  color: var(--sidenav-disabled-text-color);
}

.menu-space-filler-wf {
  flex-grow: 1;
}

/* Welcome page rules */
.logo-welcome-wf {
  height: 7em;
}

.welcome-wf {
  margin-top: 12vh;
  text-align: center;
}

.welcome-wf h1 {
  color: var(--main-text-color);
  margin-top: 9vh;
  margin-bottom: 10vh;
}

.welcome-to-work-wf {
  position: static;
  transition: margin-left 1s ease-in-out;
  transition-delay: 1s;
}

.welcome-to-work-wf.active {
  margin-left: 0px;
}

#flow-span-wf {
  position: absolute;
  color: var(--light-accent-transparent);
  transition: color 2.5s ease-in-out;
}

#flow-span-wf.active {
  color: var(--light-accent-color);
}

#flow-span-wf.regular {
  color: var(--main-text-color);
}

.welcome-p-separator-wf {
  height: 5vh;
  display: block;
}

.blurb-text-wf {
  font-size: 18px;
  color: var(--main-text-transparent);
  width: 61%;
  transition: color 2.5s ease-in-out;
}

.blurb-text-wf.fade-in-wf {
  color: var(--main-text-color);
}

.blurb-link1-wf a,
.blurb-link2-wf a {
  color: var(--light-accent-transparent);
  transition: color 2.5s ease-in-out;
}

.blurb-link1-wf.fade-in-link-wf a,
.blurb-link2-wf.fade-in-link-wf a {
  color: var(--dark-accent-color);
}

/* Login and signup page rules */
.login-signup-inner-container-wf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup-button-wf {
  margin-top: 20px;
}

.login-signup-error-wf {
  margin-top: 20px;
}

/* Dashboard rules */
.widget-container-wf {
  max-width: 100%;
}

.react-grid-item {
  transition: left 200ms ease, top 200ms ease, width 200ms ease,
    height 200ms ease, box-shadow 0.3s ease-in-out !important;
}

.react-grid-item > .react-resizable-handle::after {
  right: 6px !important;
  bottom: 6px !important;
  width: 12px;
  height: 12px;
  border-radius: 0 0 20px 0;
  border-right: 2px groove var(--widget-resize-handle-color);
  border-bottom: 2px groove var(--widget-resize-handle-color);
}

.react-grid-item.react-grid-placeholder {
  background: var(--box-shadow-color);
  border: 2px dashed var(--darkest-accent-color);
  border-radius: 20px;
  opacity: 0.2;
}

.widget-wf {
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  border: 2px solid var(--darker-accent-color);
  cursor: grab;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.widget-box-shadow-wf {
  box-shadow: 10px 10px 7px 5px var(--box-shadow-color);
  transition: box-shadow 0.5s, transform 0.3s ease-in-out;
}

.widget-box-shadow-wf:hover {
  box-shadow: 10px 10px 7px 0px var(--box-shadow-color);
  transform: scale(0.98);
}

.widget-content-wf::-webkit-scrollbar {
  width: 10px;
}

.widget-content-wf::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

.widget-content-wf {
  width: 100.5%;
  height: 100.5%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: inset 3px 3px 10px -2px var(--inset-box-shadow-raise),
    inset -3px -3px 7px -1px var(--inset-box-shadow-color);
}

/* Clock widget rules */
.clock-widget {
  text-align: center;
  background-color: var(--clock-background-color);
}

.clock-container-wf {
  padding-top: 17%;
  height: 80%;
}

.clock-digital-container-wf {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 15%;
  padding-top: 15%;
}

.clock-digit-container-wf {
  width: 15%;
  font-size: 40px;
  font-weight: bold;
  color: var(--main-text-light-on-dark-color);
}

.colon-wf {
  width: -5%;
}

.clock-time {
  margin-top: 0px;
  padding-top: 15%;
}

.clock-date {
  color: var(--main-text-light-on-dark-color);
  font-size: 18px;
}

.clock-face {
  fill: var(--clock-face-color);
  stroke: var(--secondary-text-color);
  stroke-width: 4;
}

.clock-number {
  font-size: 12px;
  font-weight: bold;
  fill: var(--secondary-text-color);
}

.clock-switch-wf label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-icon-wf {
  color: var(--main-text-light-on-dark-color);
}

.clock-switch-wf label .lever {
  margin: 0 8px;
}

/* Calendar widget rules */
.custom-calendar {
  background-color: var(--calendar-background-color);
  color: var(--darkest-accent-color);
  font-weight: bold;
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 18px;
  box-shadow: inset 3px 3px 10px -2px var(--inset-box-shadow-raise),
    inset -3px -3px 7px -1px var(--inset-box-shadow-color);
}

.react-calendar {
  line-height: 1.125em;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 10%;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 10%;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: var(--calendar-disabled-area-color);
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__arrow {
  font-weight: bold;
  color: var(--calendar-day-color);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  color: var(--calendar-day-color);
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--calendar-weekend-day-color);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--calendar-disabled-day-color);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 3.2% 1%;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: var(--calendar-disabled-area-color);
}

.react-calendar__tile--now {
  background: var(--main-background-color);
  border-radius: 50px;
  color: var(--main-text-color);
}

.react-calendar__tile--hasActive {
  background: var(--light-accent-color);
  border-radius: 50px;
  color: var(--main-text-color);
}

.react-calendar__tile--active {
  background: var(--light-accent-color);
  border-radius: 50px;
  color: var(--main-text-color);
}

/* Notepad Widget rules */
.notepad-widget {
  background-color: var(--textbox-background-color);
  border-radius: 20px;
  overflow: auto;
}

.notepad-textarea {
  width: 100%;
  height: 98%;
  padding: 25px;
  border-radius: 20px;
  resize: vertical;
  outline: none;
  font-size: 20px;
  color: var(--darkest-accent-color);
  border: none;
  resize: none;
}

.notepad-textarea::-webkit-scrollbar {
  width: 13px;
}

.notepad-textarea::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

/* Sticky Note Widget rules */
.sticky-note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sticky-note-background-color);
  border-radius: 20px;
}

.sticky-note-textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
  font-size: 30px;
  color: var(--sticky-note-text-color);
  background-color: transparent;
  padding: 30px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: center;
}

.sticky-note-textarea::placeholder {
  color: var(--sticky-note-placeholder-text-color);
  font-family: "Shadows Into Light", cursive;
}

.sticky-note-textarea::-webkit-scrollbar {
  width: 10px;
}

.sticky-note-textarea::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

/* Schedule Widget rules */
.schedule-widget {
  border-radius: 20px;
  background-color: var(--schedule-background-color);
  color: var(--darkest-accent-color);
  padding: 25px;
  overflow: auto;
}

.schedule-widget h4 {
  margin-bottom: 20px;
  color: var(--darkest-accent-color);
}

.event-icons {
  min-width: 13%;
}

.schedule-icon-wf {
  margin: 3px;
  cursor: pointer;
}

.event-list {
  margin-bottom: 20px;
}

.event {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--schedule-background-color);
  border: 1px solid var(--darker-accent-color);
}

.event.completed {
  background-color: var(--schedule-darker-background-color);
  color: var(--main-text-color);
  text-decoration: line-through;
}

.event button {
  padding: 10px 20px;
  max-width: 125px;
  display: flex;
  align-items: center;
}

.new-event {
  display: flex;
  flex-direction: column;
}

.new-event h4 {
  margin-bottom: 12px;
  color: var(--darker-accent-color);
}

.schedule-dropdown-container-wf {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.schedule-dropdown-wf {
  color: var(--darkest-accent-color);
  font-family: "Lexend", sans-serif;
  background-color: var(--textbox-background-color) !important;
  border: 1px solid var(--input-border-color) !important;
  border-radius: 10px !important;
  padding: 5px 10px !important;
  height: 2.4em !important;
  margin: 0px !important;
  margin-right: 2% !important;
  width: 27% !important;
  box-shadow: inset 1px 1px 3px var(--inset-box-shadow-color),
    inset -1px -1px 3px var(--inset-box-shadow-raise) !important;
}

.schedule-dropdown-disabled-wf {
  color: var(--input-placeholder-color) !important;
}

.schedule-input-wf {
  margin: 0px !important;
  width: 80% !important;
}

.new-event button {
  margin-top: 12px;
  padding: 10px 20px;
  max-width: 125px;
  display: flex;
  align-items: center;
}

/* File Management Widget rules */
.file-management-widget {
  border-radius: 20px;
  background-color: var(--file-management-background-color);
  color: var(--darkest-accent-color);
  border: 1px solid var(--file-management-background-color);
}

.file-management-widget h2 {
  font-size: 24px;
  margin-bottom: 4%;
  margin-left: 5%;
  color: var(--darkest-accent-color);
  text-align: left;
}

.drag-drop-wf {
  margin-left: 5%;
  margin-right: 7%;
}

.drag-drop-wf .uppy-Container {
  max-height: 30%;
  height: 30%;
}

.drag-drop-wf > .uppy-Container > .uppy-Root > .uppy-u-reset {
  border-radius: 20px;
  background-color: var(--file-management-inner-background-color);
}

.drag-drop-wf .uppy-DragDrop-inner {
  padding: 20px 0px;
}

.drag-drop-wf .uppy-DragDrop-arrow {
  fill: var(--lighter-accent-color);
  height: 2em;
  width: 2em;
}

.drag-drop-wf .uppy-DragDrop-label {
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}

/* To Do List Widget rules */
.kanban-board {
  background-color: var(--kanban-board-background-color);
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.kanban-board h4 {
  text-align: left;
  margin-bottom: 20px;
  color: var(--darkest-accent-color);
}

.kanban-top-row-wf {
  display: flex;
}

.modal-replacer-wf {
  flex-grow: 1;
  display: flex;
}

.modal-replacer-wf {
  background-color: var(--kanban-board-darker-background-color);
  border-radius: 15px;
  margin-left: 20px;
}

.modal-replacer-content-wf {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 10px;
}

.modal-replacer-content-wf .kanban-textbox-wf {
  flex-grow: 1;
  color: var(--darkest-accent-color);
  font-family: "Lexend", sans-serif;
  background-color: var(--textbox-background-color) !important;
  border: 1px solid var(--input-border-color) !important;
  border-radius: 10px !important;
  padding: 5px 10px !important;
  height: 1.5em !important;
  margin: 10px 0px !important;
  margin-left: 10px !important;
  width: auto !important;
  margin-right: 15px !important;
  box-shadow: inset 1px 1px 3px var(--inset-box-shadow-color),
    inset -1px -1px 3px var(--inset-box-shadow-raise) !important;
}

.modal-replacer-content-wf .kanban-dropdown-wf {
  flex-grow: 0.5;
  color: var(--darkest-accent-color);
  font-family: "Lexend", sans-serif;
  background-color: var(--textbox-background-color) !important;
  border: 1px solid var(--input-border-color) !important;
  border-radius: 10px !important;
  padding: 5px 10px !important;
  height: 2.4em !important;
  margin: 0px !important;
  width: auto !important;
  margin-right: 15px !important;
  box-shadow: inset 1px 1px 3px var(--inset-box-shadow-color),
    inset -1px -1px 3px var(--inset-box-shadow-raise) !important;
}

.kanban-button-wf {
  margin: 0px;
  margin-right: 15px;
}

.kanban-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  margin-top: 20px;
  flex-grow: 1;
}

.kanban-row::-webkit-scrollbar {
  width: 8px;
}

.kanban-row::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

.kanban-column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  background-color: var(--kanban-board-darker-background-color);
  border-radius: 15px;
  padding: 5px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--kanban-column-heading-color);
  text-align: center;
}

.task-list {
  min-height: 100px;
}

.task-card {
  background-color: var(--textbox-background-color);
  color: var(--darkest-accent-color);
  padding-left: 20px;
  padding-right: 17px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: inset 0.5px 0.5px 10px -2px var(--inset-box-shadow-raise),
    inset -2px -2px 7px -1px var(--inset-box-shadow-color);
}

.task-icons {
  display: flex;
  justify-content: flex-end;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.task-icons button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: var(--darker-accent-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.task-icons button:hover {
  background-color: var(--dark-accent-color);
}

/* Meditation Widget rules */
.meditation-widget {
  width: 90%;
  border-radius: 20px;
  background-color: var(--meditation-background-color);
  color: var(--darkest-accent-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2px 0px;
}

.meditation-widget h5 {
  margin-left: 25px;
  font-size: 20px;
}

.meditation-audio-player {
  width: 90%;
  height: 50%;
  align-self: center;
  background-color: var(--meditation-background-color) !important;
}

.meditation-dropdown {
  margin-top: 9px;
  width: 90%;
  align-self: center;
  background-color: var(--meditation-background-color);
}

.meditation-dropdown select {
  padding-left: 10px;
  height: 2.5em;
  border-radius: 10px;
  background-color: var(--meditation-background-color);
  color: var(--darkest-accent-color);
  box-shadow: inset 1px 1px 3px var(--inset-box-shadow-color),
    inset -1px -1px 3px var(--inset-box-shadow-raise) !important;
}

.react-audio-player .rp-controls {
  display: none;
}

/* Inspiring Quotes Widget rules */
.inspiring-quote-widget {
  border-radius: 20px;
  background-color: var(--inspiring-quote-background-color);
  color: var(--darkest-accent-color);
  padding: 0px 28px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.inspiring-quote-flex-container {
  flex-grow: 1;
}

.inspiring-quote-random {
  text-align: left;
}

.inspiring-quote-author {
  text-align: right;
}

/* Work/Life Balance Tips Widget rules */
.balance-tip-widget {
  border-radius: 20px;
  background-color: var(--balance-tip-background-color);
  color: var(--darkest-accent-color);
  padding: 20px 30px;
  display: flex;
}

.balance-tip-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2.4%;
}

.balance-tip-widget h2 {
  margin: 0px;
  text-align: left;
  color: var(--darkest-accent-color);
}

.balance-tip-random {
  margin: 0px;
  margin-top: 17px;
  text-align: justify;
}

/* Chat page rules */
.chat-container-wf {
  display: flex;
  height: 85vh;
}

.chat-sidebar-wf {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  width: 12%;
  background-color: var(--dark-accent-color);
  color: var(--main-text-color);
}

.chat-display {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 88%;
}

.message-container-wf {
  flex-grow: 1;
  flex-shrink: 1;
  width: 94%;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 15px;
  background-color: var(--main-text-color);
  border: 1px solid var(--dark-accent-color);
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.message-container-wf::-webkit-scrollbar {
  width: 8px;
  background-color: var(--dark-accent-color);
}

.message-container-wf::-webkit-scrollbar-track {
  background-color: var(--light-accent-color);
  border-radius: 8px;
}

.chat-bottom-container-wf {
  width: 92%;
  margin-left: 15px;
}

.text-half-size-wf {
  width: 50% !important;
  margin-top: 0px !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.box-shadow-wf {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.chat-lower-form-wf {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.chat-button-wf {
  background-color: var(--dark-accent-color);
}

.chat-button-wf:hover {
  background-color: var(--light-accent-color);
}

.form-join-button-wf {
  max-width: 75px;
}

.sidebar-inner-container-wf {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 20px;
}

.user-list-wf {
  margin-top: 12vh;
  flex-grow: 0.5;
}

.active-users-heading-wf {
  color: var(--main-text-color);
  text-align: left;
}

.available-rooms-heading-wf {
  color: var(--main-text-color);
  text-align: left;
}

/* Video Chat page rules */
.video-chat-input-box-wf {
  align-items: center;
}

.video-player-input-wf {
  width: 60% !important;
}

.video-player-button-container-wf {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.video-chat-player-box-wf {
  width: 95%;
  margin-top: 7vh;
  padding: 2%;
}

#video-chat-overlay-spinner-wf {
  width: 95%;
  background-color: var(--dark-accent-color);
}

.video-chat-spinner-container-wf {
  width: 100%;
  height: auto;
  margin-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-main-wf {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.video-outer-container-wf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container-wf {
  display: flex;
  width: 90vw;
  height: 90vh;
}

.video-container-wf > div > div:nth-child(1) > div {
  margin: 0.5%;
}

.video-container-wf > div > div:nth-child(1) > div:nth-child(1) {
  border: 2px solid var(--darkest-accent-color);
  border-radius: 20px;
  overflow: hidden;
  max-width: 50% !important;
  aspect-ratio: 4 /3 !important;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

.video-container-wf > div > div:nth-child(1) > div:nth-child(2) {
  width: 50% !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  flex: 0 1 auto !important;
  overflow-y: auto !important;
}

.video-container-wf > div > div:nth-child(1) > div:nth-child(2) > div {
  border: 2px solid var(--darkest-accent-color);
  border-radius: 20px;
  overflow: hidden;
  min-width: 45% !important;
  max-height: 45% !important;
  aspect-ratio: 4 / 3 !important;
  margin: 0 1% !important;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

.video-container-wf > div > div:nth-child(2) {
  background-color: var(--dark-accent-color) !important;
  width: 50% !important;
}

.video-container-wf > div > div:nth-child(2) > div:nth-child(3) {
  border: none !important;
  border-radius: 10px !important;
  background-color: var(--main-background-color) !important;
  box-shadow: inset 0.9px 0.9px 10px -4px var(--inset-box-shadow-raise),
  inset -2px -2px 7px var(--inset-box-shadow-color);
  width: 80px !important;
  height: 50px !important;
}

.video-container-wf > div > div:nth-child(2) > div:nth-child(3):hover {
  background-color: var(--lighter-accent-color) !important;
  box-shadow: inset 0.5px 0.5px 10px -4px var(--inset-box-shadow-raise),
    inset -2px -2px 7px var(--inset-box-shadow-color) !important;
}

.video-container-wf > div > div:nth-child(2) > div:nth-child(3):focus {
  background-color: var(--light-accent-color) !important;
  box-shadow: inset 0.5px 0.5px 10px -4px var(--inset-box-shadow-raise),
    inset -2px -2px 7px var(--inset-box-shadow-color) !important;
}

.video-container-wf > div > div:nth-child(2) > div > div {
  border: none !important;
  border-radius: 10px !important;
  background-color: var(--main-background-color) !important;
  box-shadow: inset 0.9px 0.9px 10px -4px var(--inset-box-shadow-raise),
  inset -2px -2px 7px var(--inset-box-shadow-color);
  width: 80px !important;
  height: 50px !important;
}

.video-container-wf > div > div:nth-child(2) > div > div:hover {
  background-color: var(--lighter-accent-color) !important;
  box-shadow: inset 0.5px 0.5px 10px -4px var(--inset-box-shadow-raise),
    inset -2px -2px 7px var(--inset-box-shadow-color) !important;
}

.video-container-wf > div > div:nth-child(2) > div > div:focus {
  background-color: var(--light-accent-color) !important;
  box-shadow: inset 0.5px 0.5px 10px -4px var(--inset-box-shadow-raise),
    inset -2px -2px 7px var(--inset-box-shadow-color) !important;
}

/* Settings page rules */
.settings-header-wf {
  margin-top: 5vh;
  font-size: 18px;
}

.settings-dropdown-wf {
  border-color: var(--dark-accent-color);
  border-radius: 10px;
  height: 2.5em;
  padding: 0px 10px;
  background-color: var(--textbox-background-color);
  color: var(--darkest-accent-color);
  box-shadow: inset 1px 1px 3px var(--inset-box-shadow-color),
    inset -1px -1px 3px var(--inset-box-shadow-raise) !important;
}

.checkbox-container-wf {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.checkbox-container-wf p {
  width: 50%;
  text-align: left;
}

.checkbox-container-wf p label {
  color: var(--main-text-color);
}

[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
  border: 2px solid var(--checkbox-border-color);
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid var(--checkbox-border-color);
  border-bottom: 2px solid var(--checkbox-border-color);
}

/* Support Us page rules */
.support-wf {
  margin-top: 14vh;
  text-align: center;
}

.support-wf h1 {
  margin-top: 7vh;
}

.support-blurb-text-wf {
  font-size: 18px;
  color: var(--main-text-color);
  width: 61%;
  margin-top: 7vh;
}

.support-btn-wf {
  margin-top: 20px;
  background-color: var(--dark-accent-color);
  margin-top: 7vh;
}

/* Error page rules */
.error-page-wf {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.error-back-btn-wf {
  margin-top: 20px;
  background-color: var(--dark-accent-color);
  align-self: flex-start;
}

.error-back-btn-wf:hover {
  background-color: var(--light-accent-color);
}

/* Footer rules */
.copyright-wf {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1550px) {
  .clock-digital-container-wf {
    padding: 0 10%;
    padding-top: 15%;
  }
}

@media screen and (max-width: 1380px) {
  .clock-analog-container-wf svg {
    width: 165px;
  }
}

@media screen and (max-width: 1200px) {
  .brandname-wf {
    font-size: 20px;
  }

  .clock-digital-container-wf {
    padding: 0 18%;
    padding-top: 13%;
  }
  
  .clock-time {
    padding-top: 5%;
  }

  .clock-analog-container-wf svg {
    width: 200px;
  }

  .welcome-wf {
    margin-top: 8vh;
  }

  .welcome-wf h1 {
    margin-top: 7vh;
    margin-bottom: 7vh;
    font-size: 55px;
  }

  .logo-welcome-wf {
    height: 5em;
  }

  .blurb-text-wf {
    font-size: 17px;
    width: 75%;
  }
}

@media screen and (max-width: 992px) {
  .sidenav-trigger {
    display: block !important;
    position: absolute;
  }

  .box-wf {
    width: 80%;
  }

  .welcome-wf h1 {
    font-size: 30px;
  }

  .navbar-right-container-wf {
    display: none;
  }

  .brandname-wf {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .clock-time {
    padding-top: 5%;
  }

  .video-player-form-wf p {
    width: 80%;
    text-align: center;
  }

  .video-chat-player-box-wf {
    width: 95%;
  }
}

@media screen and (max-width: 830px) {
  .clock-digital-container-wf {
    padding: 0 12%;
  }
  
  .clock-time {
    font-size: 35px;
  }

  .clock-date {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  .clock-analog-container-wf svg {
    width: 160px;
  }

  .video-container-wf > div > div:nth-child(1) > div:nth-child(2) {
    width: 50% !important;
    flex-direction: column !important;
    flex: 0 1 auto !important;
    overflow-y: auto !important;
  }
}

@media screen and (max-width: 600px) {
  .input-wf {
    height: 1em !important;
  }

  .navbar-logo-wf {
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 8px;
    height: 1.8em;
  }

  .welcome-wf {
    margin-top: 7vh;
  }

  .welcome-to-work-wf {
    font-size: 27px;
  }

  .flow-span-wf {
    font-size: 27px;
  }

  .blurb-text-wf {
    font-size: 13.5px;
  }

  .box-wf {
    width: 80%;
    margin-top: 7vh;
  }

  .login-signup-inner-container-wf {
    margin-top: 20px;
  }

  .login-signup-inner-container-wf input {
    width: 93% !important;
  }

  .login-signup-button-wf {
    margin-top: 30px;
  }

  .footer-wf {
    margin-top: 50px;
  }

  .copyright-wf {
    text-align: center;
    margin: 0px;
    margin-bottom: 18px;
    font-size: 12px;
  }

  .brandname-wf {
    padding-top: 10px;
    font-size: 20px;
    position: static;
  }

  .error-page-wf {
    margin-top: 15vh;
    margin-left: 5%;
    width: 95%;
  }

  .error-page-wf h1 {
    font-size: 50px;
  }

  .error-page-wf button {
    margin-top: 6vh;
  }

  .widget-wf::-webkit-scrollbar {
    width: 8px;
  }

  .widget-wf::-webkit-scrollbar-track {
    background-color: var(--kanban-board-background-color);
    border-radius: 10px;
  }

  .clock-container-wf {
    padding-top: 13%;
    height: 80%;
  }

  .clock-digital-container-wf {
    padding: 0 30%;
  }

  .clock-time {
    font-size: 45px;
  }

  .clock-date {
    font-size: 18px;
  }

  .clock-analog-container-wf svg {
    margin-top: -10%;
    width: 200px;
  }

  .widget-content-wf {
    padding: 15px;
  }

  .new-event h6 {
    margin-bottom: 10px;
    margin-left: 2px;
  }

  .schedule-input-wf {
    margin: 0px !important;
    width: 92% !important;
  }

  .schedule-dropdown-container-wf {
    width: 102%;
  }

  .schedule-dropdown-wf {
    color: var(--darkest-accent-color);
    font-family: "Lexend", sans-serif;
    background-color: var(--textbox-background-color) !important;
    border: 1px solid var(--input-border-color) !important;
    border-radius: 10px !important;
    padding: 5px 10px !important;
    height: 2em !important;
    margin: 0px !important;
    margin-right: 2% !important;
    width: 32% !important;
  }

  .schedule-input-wf .button-wf {
    width: 10px;
  }

  .new-event button {
    font-size: 12px;
    width: auto;
    height: 2.5em;
    padding: 12px;
    margin-top: 8px;
  }

  .schedule-widget h4 {
    font-size: 20px;
    margin-bottom: 27px;
  }

  .calendar-widget {
    padding: 0px;
  }

  .sticky-note {
    padding: 0px;
  }

  .notepad-widget {
    padding: 0px;
  }

  .meditation-widget {
    padding: 5px;
  }

  .meditation-widget h5 {
    font-size: 17px;
    margin-bottom: 3vh;
  }

  .file-management-widget {
    padding: 20px;
  }

  .file-management-widget h2 {
    font-size: 20px;
    margin-top: 3vh;
  }

  div.kanban-board {
    padding: 0px 15px 20px 15px;
    width: 100%;
    height: 100%;
  }

  .kanban-top-row-wf {
    flex-direction: column;
  }

  .kanban-top-row-wf h4 {
    font-size: 20px;
  }

  .modal-replacer-wf {
    margin-left: 0px;
  }

  .modal-replacer-content-wf {
    flex-direction: column;
  }

  .modal-replacer-content-wf .kanban-textbox-wf {
    height: 1em !important;
    margin: 5px 0px !important;
    width: 90% !important;
  }

  .modal-replacer-content-wf .kanban-dropdown-wf {
    padding: 5px 10px !important;
    height: 2em !important;
    margin: 0px !important;
    width: 99% !important;
  }

  .kanban-button-wf {
    margin: 0px;
    margin-top: 5px;
    margin-right: 0px;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
  }

  .kanban-row {
    flex-direction: column;
    overflow: inherit;
  }

  .inspiring-quote-flex-container {
    padding: 10px;
    font-size: 16px;
  }

  .balance-tip-widget {
    padding: 10px;
    font-size: 13px;
  }

  .balance-tip-flex-container {
    padding: 0px 5px;
    font-size: 16px;
  }

  .checkbox-container-wf {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: 17px;
  }

  .checkbox-container-wf p {
    width: 80%;
    text-align: left;
  }

  .support-wf {
    margin-top: 7vh;
  }

  .support-wf h1 {
    margin-top: 6vh;
    font-size: 40px;
  }

  .video-chat-title-wf {
    margin-top: 7vh;
  }

  .video-player-button-container-wf {
    margin-top: 20px;
  }

  .video-player-input-wf {
    width: 50% !important;
  }

  .video-chat-player-box-wf {
    width: 97%;
    margin-top: 2vh;
  }

  .video-container-wf > div > div:nth-child(1) > div:nth-child(1) {
    border: 2px solid var(--darkest-accent-color);
    border-radius: 20px;
    overflow: hidden;
    max-width: 70% !important;
    aspect-ratio: 1 / 2 !important;
    box-shadow: 5px 5px 10px var(--box-shadow-color);
  }

  .video-container-wf > div > div:nth-child(1) > div:nth-child(2) {
    width: 30% !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }

  .video-container-wf > div > div:nth-child(2) {
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  .clock-digital-container-wf {
    padding: 0 27%;
    padding-top: 6%;
  }
}

@media screen and (max-width: 450px) {
  .clock-digital-container-wf {
    padding: 0 20%;
    padding-top: 7%;
  }

  .video-container-wf > div > div:nth-child(1) > div:nth-child(1) {
    max-width: 100% !important;
    aspect-ratio: 1 / 2 !important;
    margin: 1vh 0px !important;
  }

  .video-container-wf > div > div:nth-child(1) > div:nth-child(2) {
    position: absolute !important;
    top: 13vh !important;
    left: 3vh !important;
    width: 90% !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }

  .video-container-wf > div > div:nth-child(1) > div:nth-child(2) > div {
    width: 30% !important;
    min-width: 20% !important;
    max-width: 30% !important;
    aspect-ratio: 4 / 3 !important;
    margin: 3% 3% !important;
    box-shadow: none !important;
  }

  .video-container-wf > div > div:nth-child(2) {
    position: absolute !important;
    background-color: transparent !important;
    bottom: 0 !important;
    left: 0 !important;
  }
}

@media screen and (max-width: 360px) {
  .clock-digital-container-wf {
    padding: 0 12%;
    padding-top: 13%;
  }
}