html {
  font-family: 'Lexend', sans-serif;
  background-color: #00c2cb;
  color: #FAF9F6;
}

.logo-wf {
  height: 2.5em;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.brandname-wf {
  font-size: 35px;
  color: #FAF9F6;
  vertical-align: top;
}

.navbar-wf {
  background-color: #344966;
  color: #FAF9F6;
}

.navbar-right-container-wf {
  margin-right: 15px;
}

.loggedin-text-wf {
  margin-right: 20px;
  font-size: 18px;
}

.button-wf {
  background-color: #00c2cb;
  color: #FAF9F6;
  font-weight: bold;
}

.button-wf:hover {
  background-color: #4C6A94;
}

.main-wf {
  min-height: 100vh;
}

.sidenav-wf {
  background-color: #344966;
  color: #FAF9F6;
  top: 64px;
  height: 100vh;
  position: fixed;
}

.sidenav-wf li>a {
  color: #FAF9F6;
}

.sidenav-wf li>a:hover {
  color: #00c2cb;
}

.sidenav-item-wf {
  padding-top: 20px;
  padding-left: 10px;
}

.login-signup-container-wf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-box-wf {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #FAF9F6;
  color: #344966;
  text-align: center;
  border: 1px solid #4C6A94;
  border-radius: 20px;
  padding: 40px 40px 60px 40px;
}

.login-signup-button-wf {
  margin-top: 20px;
}

.login-signup-error-wf {
  margin-top: 20px;
  color: #DA627D;
  font-weight: bold;
  font-size: 18px;
}

.copyright-wf {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}