html {
  font-family: "Lexend", sans-serif;
  background-color: #00c2cb;
  color: #faf9f6;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track (the area on which the thumb sits) */
::-webkit-scrollbar-track {
  background-color: #344966;
}

/* Handle (the draggable scrolling element) */
::-webkit-scrollbar-thumb {
  background-color: #4c6a94;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6B89B3;
}

.logo-wf {
  height: 2.5em;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.brandname-wf {
  font-size: 35px;
  color: #faf9f6;
  vertical-align: top;
}

.navbar-fixed {
  background-color: #344966;
}

.navbar-wf {
  background-color: #344966;
  color: #faf9f6;
}

.navbar-right-container-wf {
  margin-right: 15px;
}

.mobile-sidenav-wf {
  background-color: #344966;
}

.mobile-sidenav-wf li a {
  color: #faf9f6;
}

.sidenav-username-wf {
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  color: #00c2cb;
}

.loggedin-text-wf {
  margin-right: 20px;
  font-size: 18px;
}

.button-wf {
  background-color: #00c2cb;
  color: #faf9f6;
  font-weight: bold;
  border-radius: 10px;
}

.button-wf:hover {
  background-color: #4c6a94;
}

.login-button-wf {
  margin-bottom: 8px;
}

.error-back-btn-wf {
  margin-top: 20px;
  background-color: #344966;
  align-self: flex-start;
}

.error-back-btn-wf:hover {
  background-color: #4c6a94;
}

.mobile-display-wf {
  display: none;
}

.main-wf {
  min-height: 100vh;
}

.sidenav-wf {
  background-color: #344966;
  color: #faf9f6;
  top: 64px;
  height: 100vh;
  position: fixed;
}

.sidenav-wf li > a {
  color: #faf9f6;
}

.sidenav-wf li > a:hover {
  color: #00c2cb;
}

.sidenav-item-wf {
  padding-top: 20px;
  padding-left: 10px;
}

.logo-home-wf {
  height: 7em;
}

.welcome-wf {
  margin-top: 15vh;
  text-align: center;
}

.welcome-wf h1 {
  color: #faf9f6;
}

.flow-text-wf {
  color: rgba(76, 106, 148, 0);
  transition: color 2.5s ease-in-out;
}

.flow-text-wf.active {
  color: rgba(76, 106, 148, 1);
}

.flow-text-wf.regular {
  color: #faf9f6;
}

.blurb-text-wf {
  color: rgba(250, 249, 246, 0);
  transition: color 2.5s ease-in-out;
}

.blurb-text-wf.fade-in-wf {
  color: rgba(250, 249, 246, 1);
}

.blurb-link1-wf a,
.blurb-link2-wf a {
  color: rgba(76, 106, 148, 0);
  transition: color 2.5s ease-in-out;
}

.blurb-link1-wf.fade-in-link-wf a,
.blurb-link2-wf.fade-in-link-wf a {
  color: #344966;
}

.login-signup-container-wf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-box-wf {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #344966;
  color: #faf9f6;
  text-align: center;
  border: 1px solid #4c6a94;
  border-radius: 20px;
  padding: 40px 40px 60px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.login-signup-input-wf {
  color: #faf9f6;
  font-family: "Lexend", sans-serif;
}

.login-signup-button-wf {
  margin-top: 20px;
  font-weight: bold;
  
}

.login-signup-error-wf {
  margin-top: 20px;
  color: #fc3f38;
  font-weight: bold;
  font-size: 18px;
}

.dashboard-title-wf {
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
}

.widget-container-wf {
  max-width: 100%;
}

.widget-wf {
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  border: 2px solid #344966;
  cursor: grab;
}

.widget-wf:hover {
  border: 3px groove #4c6a94;
}

/* Width of the scrollbar */
.widget-content-wf::-webkit-scrollbar {
  width: 8px;
}

/* Track (the area on which the thumb sits) */
.widget-content-wf::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}


.widget-box-shadow-wf {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.5);
}

.widget-content-wf {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.switch-container-wf {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: #faf9f6;
}

.error-page-wf {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.copyright-wf {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

@media screen and (max-width: 992px) {
  .desktop-display-wf {
    display: none;
  }

  .mobile-display-wf {
    display: block;
  }

  .sidenav-display-wf {
    display: none;
  }

  .desktop-logo-display-wf {
    display: none;
  }

  nav .nav-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .brandname-wf {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }
}