.chat-container-wf {
  display: flex;
  height: 85vh;
}

.chat-sidebar-wf {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  width: 12%;
  background-color: #344966;
  color: #faf9f6;
}

.chat-display {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 88%;
}

.message-container-wf {
  flex-grow: 1;
  flex-shrink: 1;
  width: 94%;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 15px;
  background-color: #faf9f6;
  border: 1px solid #344966;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Width of the scrollbar */
.message-container-wf::-webkit-scrollbar {
  width: 8px;
  background-color: #344966;
}

/* Track (the area on which the thumb sits) */
.message-container-wf::-webkit-scrollbar-track {
  background-color: #4c6a94;
  border-radius: 8px;
}

.chat-bottom-container-wf {
  width: 92%;
  margin-left: 15px;
}

.text-half-size-wf {
  width: 50% !important;
  margin-top: 0px !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.box-shadow-wf {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.chat-lower-form-wf {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.chat-button-wf {
  background-color: #344966;
}

.chat-button-wf:hover {
  background-color: #4c6a94;
}

.form-join-button-wf {
  max-width: 75px;
}

.sidebar-inner-container-wf {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 20px;
}

.user-list-wf {
  margin-top: 12vh;
  flex-grow: 0.5;
}

.active-users-heading-wf {
  color: #faf9f6;
  text-align: left;
}

.available-rooms-heading-wf {
  color: #faf9f6;
  text-align: left;
}
