/*Style for the Clock widgets*/
.clock-widget {
  text-align: center;
  border-radius: 20px;
  background-color: #4c6a94;
}

.clock-container-wf {
  padding-top: 10%;
  height: 80%;
}

.clock-time {
  margin-top: 0px;
  padding-top: 15%;
  font-size: 45px;
  font-weight: bold;
  color: #F2F4F8;
}

.clock-date {
  color: #F2F4F8;
  font-size: 18px;
}

.clock-face {
  fill: #F2F4F8;
  stroke: #0D1821;
  stroke-width: 4;
}

.clock-number {
  font-size: 12px;
  font-weight: bold;
  fill: #0D1821;
}

.dark-button-wf {
  background-color: #31435E;
}

.dark-button-wf:focus {
  background-color: #31435E;
}

/*Style for the Calendar widget*/
.custom-calendar {
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #F5F0F6;
  color: #31435E;
  font-weight: bold;
  height: 100%;
  width: 100%;
  padding: 25px;
}

/* days of the week */
.custom-calendar .daysOfWeek {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 5px 0;
}

/* individual days */
.custom-calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 5px 0;
  color: #31435E;
}

.custom-calendar .days div {
  border: 1px solid #444444;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Style for the Notepad Widget*/
.notepad-widget {
  background-color: #F2F4F8;
  border-radius: 20px;
  overflow: auto;
}

.notepad-textarea {
  width: 100%;
  height: 98%;
  padding: 25px;
  border-radius: 20px;
  resize: vertical;
  outline: none;
  font-size: 20px;
  color: #31435E;
  border: none;
  resize: none;
}

/* Width of the scrollbar */
.notepad-textarea::-webkit-scrollbar {
  width: 8px;
}

/* Track (the area on which the thumb sits) */
.notepad-textarea::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

/*Style for the Sticky Note Widget*/
.sticky-note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99FAFF;
  border-radius: 20px;
}

.sticky-note-textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
  font-size: 30px;
  color: #344966;
  background-color: transparent;
  padding: 30px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  vertical-align: center;
}

.sticky-note-textarea::placeholder {
  color: #869EC1;
  font-family: 'Shadows Into Light', cursive;
}

/*Style for the Schedule Widget*/
.schedule-widget {
  border-radius: 20px;
  background-color: #EEE1B3;
  color: #4c6a94;
  padding: 25px;
  overflow: auto;
}

.schedule-widget h4 {
  margin-bottom: 20px;
  color: #35495e;
}

.schedule-icon-wf {
  margin: 5px;
  cursor: pointer;
}

.event-list {
  margin-bottom: 20px;
}

.event {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEE1B3;
  border: 1px solid #35495e;
}

.event.completed {
  background-color: #C6AE80;
  color: #F2F4F8;
  text-decoration: line-through;
}

.event button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #35495e;
  color: #F2F4F8;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  align-self: flex-start;
  font-weight: bold;
}

.event button:hover {
  background-color: #4c6a94;
}

.new-event {
  display: flex;
  flex-direction: column;
}

.new-event h4 {
  margin-bottom: 12px;
  color: #35495e;
}

.new-event input {
  margin-bottom: 12px;
  padding: 8px;
  color: #4c6a94;
  background-color: #F2F4F8;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.new-event button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #35495e;
  color: #F2F4F8;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  align-self: flex-start;
  font-weight: bold;
}

.new-event button:hover {
  background-color: #4c6a94;
}

/* Style for the File Management Widget */
.file-management-widget {
  border-radius: 20px;
  background-color: #C5C695;
  color: #0D1821;
  padding-left: 25px;
  border: 1px solid #C5C695;
}

.file-management-widget h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #35495e;
  text-align: left;
}

.file-list {
  margin-bottom: 20px;
}

.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.file-name {
  flex-grow: 1;
  color: #4c6a94;
  font-size: 16px;
}

.file-options {
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.file-options:hover {
  color: #444;
}

/* Style for the To Do List Widget */
.kanban-board {
  background-color: #D5CAD6;
  border-radius: 20px;
  padding: 25px;
}

.kanban-board h4 {
  text-align: left;
  margin-bottom: 20px;
  color: #35495e;
}

.kanban-board button {
  padding: 10px 20px;
  background-color: #35495e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.kanban-board button:hover {
  background-color: #4c6a94;
}

.kanban-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.kanban-column {
  flex: 1;
  background-color: #C0AEC2;
  border-radius: 10px;
  padding: 15px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #35495e;
  text-align: center;
}

.task-list {
  min-height: 100px;
}

.task-card {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-icons {
  display: flex;
  justify-content: flex-end;
}

.task-icons button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.task-icons button:hover {
  background-color: #c0392b;
}

/* Style for the Meditation Widget */
.meditation-widget {
  width: 90%;
  border-radius: 20px;
  background-color: #F2F4F8;
  color: #35495e;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 5px;
}

.meditation-widget h5 {
  margin-left: 20px;
}

.meditation-audio-player {
  width: 90%;
  align-self: center;
}

.meditation-dropdown {
  width: 90%;
  align-self: center;
  background-color: #F2F4F8;
}

.meditation-dropdown select {
  height: 2em;
  border-radius: 10px;
  background-color: #F2F4F8;
}

.react-audio-player .rp-controls {
  display: none;
}

/* Style for the Inspiring Quotes Widget */
.inspiring-quote-widget {
  border-radius: 20px;
  background-color: #FFCFAD;
  color: #35495e;
  padding: 0px 28px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.inspiring-quote-random {
  text-align: left;
}

.inspiring-quote-author {
  text-align: right;
}

/* Style for the Work/Life Balance Tips Widget */
.balance-tip-widget {
  border-radius: 20px;
  background-color: #E3C8B5;
  color: #233043;
  padding: 20px 30px;
  display: flex;
}

.balance-tip-widget h2 {
  text-align: left;
  color: #233043;
}

.balance-tip-random {
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .clock-time {
    padding-top: 5%;
  }  
}
